/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav a {
	text-decoration: none;
	color: black;
}


nav li {
	padding: 0 10px;
	font-size: 1.2em;

}

nav a:hover {
	color: #B1663C;
}


li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
	width: 72%;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* Add */
.connected {
	padding-top: 40px;
}

.backbei {
	background-color: #FFFEF8;
	padding-bottom: 200px;
}

.logn {
	font-weight: 600;
}

.categories {
	display: flex;
	justify-content: center;
	margin-bottom: 55px;
}

.category-button {
	border: 1px solid #1D6154;
	background-color: transparent;
	padding: 8px 30px;
	margin-right: 10px;
	border-radius: 60px;
	font-size: 16px;
	color: #1D6154;
	cursor: pointer;
}

.category-button:hover,
.category-button:focus {
	background-color: #1D6154;
	color: white;
}

.logi {
	margin-top: 160px;
}

/* Modal ico text */
.edit-iconun,
.edit-icondeux,
.edit-icontrois {
	cursor: pointer;
}

.edit-iconun {
	position: relative;
	top: 376px;
	left: 57px;

}

.edit-icondeux {
	position: relative;
	left: 43.5%;
	top: 45px;
}

.edit-icontrois {
	position: relative;
	left: 48%;
	top: 418px;
}

.edit {
	width: 15px;
	height: 15px;
	padding-right: 5px;
	position: relative;
	bottom: -2px;
}

#modal-btn {
	position: absolute;
	top: 57%;
	left: 58%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
	position: fixed;
	max-width: 100%;
	width: 560px;
	height: 850px;
	max-height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	border-radius: 10px;
	padding: 20px;
	padding-left: 100px;
	padding-right: 100px;
}



body.modal-open {
	overflow: hidden;
	/* Empêche le défilement de la page */
}

.modal-title {
	text-align: center;
	color: #000000;
	font-family: 'Work Sans';
	margin-top: 40px;
	padding-bottom: 15px;
}

.cross {
	position: absolute;
	top: 32px;
	right: 35px;
	font-size: 22px;
	cursor: pointer;
}

#content {
	margin-top: 20px;
}

.separator {
	position: absolute;
	width: 55%;
	top: 76%;
	left: 22%;
	border: 1px solid #B3B3B3;
}

.add-photos-btn {
	border: 1px solid #1D6154;
	background-color: #1D6154;
	font-family: 'Syne';
	padding: 8px 30px;
	margin-right: 10px;
	border-radius: 60px;
	font-size: 16px;
	color: white;
	cursor: pointer;
	position: absolute;
	left: 37%;
	top: 82%;
}


.delete-photo-btn {
	border: none;
	background: transparent;
	color: #D65353;
	font-family: 'Syne';
	cursor: pointer;
	position: absolute;
	top: 90%;
	left: 41%;
}



/* Affiche la modal lorsque le bouton est cliqué */
#modal.active {
	display: block;
}

/* Modal img */
#content .gallery {
	width: 95%;
	margin-right: 0;
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 0;
	padding-left: 20px;
}

#content img {
	width: 100%;
	height: auto;

}

/* Modal ico */
#content .trashh {
	width: 20%;
	position: relative;
	top: 18%;
	left: 70%;
	cursor: pointer;
}

#content .move {
	width: 20px;
	position: absolute;
	top: 17.4%;
	left: 22%;
}

/* 2modal */
.back-button {
	border: none;
	background: transparent;
	position: relative;
	bottom: 8%;
	right: 12%;
}

.blue-field {
	background-color: #E8F1F7;
	width: 100%;
	height: 170px;
} 

.add-button {
	border: none;
	border-radius: 60px;
	padding: 8px 30px;
	font-weight: 500;
	cursor: pointer;
	position: absolute;
	top: 28%;
	left: 39%;
	color: #306685;
	font-size: 14px;
	font-family: 'Work Sans';
	line-height: 16px;
	opacity: 0;
	width: 14%;
}

.add-button-text {
	border: none;
	border-radius: 60px;
	padding: 8px 30px;
	font-weight: 500;
	cursor: pointer;
	position: absolute;
	top: 28%;
	left: 39%;
	color: #306685;
	font-size: 14px;
	font-family: 'Work Sans';
	line-height: 16px;
	background: #CBD6DC;
}

.button-submit {
	background: #A7A7A7;
	border-radius: 60px;
	color: white;
	font-size: 16px;
	padding: 8px 30px;
	width: 45%;
	justify-content: center;
	cursor: pointer;
	border: none;
	position: absolute;
	top: 85%;
	left: 28%;
	font-family: 'Syne';
}

.grpimg {
	position: absolute;
	left: 46%;
	top: 21%;
}

.formatp {
	color: #444444;
	position: absolute;
	font-size: 11px;
	top: 34%;
	left: 43%;
}

.monform {

	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;

}

.ClasseSelect,
.ClasseInput {

	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	height: 80px;
}

/* .monform button {
	background: #A7A7A7;
	border-radius: 60px;
	color: white;
	font-size: 16px;
	padding: 8px 30px;
	width: 45%;
	justify-content: center;
	cursor: pointer;
	border: none;
	position: absolute;
	top: 85%;
	left: 25%;
	font-family: 'Syne';
} */
.separatordeux {
	position: absolute;
	width: 73%;
	top: 76%;
	left: 14%;
	border: 1px solid #B3B3B3;
}
.image-class
{
	position: absolute;
	width: 28%;
	left: 36%;
	height: 21%;
	z-index: 1;
}

/*Menu log  */
.containerlog {
	background-color: black;
	color: white;
	height: 50px;
	position: absolute;
	width: 1140px;
	top: 0%;
}

.containerlog p {
	padding-right: 20px;
	padding-left: 5px;
}

.buttonlog {
	background: #FFFFFF;
	border-radius: 60px;
	padding: 8px 20px;
	border: none;
	font-weight: 600;
}

.logplus {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 9px;
}

.editlog {
	width: 15px;
	height: 15px;

}
.hide-back-button {
	display: none;
  }

/* e */
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}


#contact a {
	align-self: center;
}


#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}